.complete-all-button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.complete-all-button__outter {
  display: flex;
  align-items: center;
  width: 60%;
  min-width: 100px;
  height: 40px;
  background-color: var(--bg-color-2);
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;
}

.complete-all-button__outter.completed {
  background-color: var(--green-check);
}

.btn-circle {
  width: 30px;
  height: 30px;
  background-color: var(--indicator-border);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  transition:
    transform 0.3s ease-in-out,
    left 0.3s ease-in-out;
}

.complete-all-button__outter.completed .btn-circle {
  left: calc(100% - 35px);
}
