{
  "extends": ["stylelint-config-standard"],
  "rules": {
    "property-no-vendor-prefix": true,
    "selector-class-pattern": null,
    "comment-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["after-comment", "stylelint-commands"]
      }
    ],
    "media-feature-range-notation": "prefix"
  }
}
