li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
  height: auto;
  margin-bottom: 10px;
  z-index: 999;
  width: 100%;
}

.task-item__checkbox-and-text {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

input[type="checkbox"] {
  appearance: auto;
  margin-right: 5px;
}

.completed-task {
  text-decoration: line-through;
}

.drag-handle {
  cursor: grab;
  width: auto;
  height: 100%;
  position: relative;
}

.drag-handle:active {
  cursor: grabbing;
}

.drag-icon {
  width: 20px;
}
