.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .header__top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .header__top__left,
    .header__top__right {
      width: 50%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 5px;
    }

    .header__top__left::after,
    .header__top__left::before,
    .header__top__right::after,
    .header__top__right::before {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--basic-black);
      z-index: 2;
    }

    .header__top__right {
      justify-content: end;
    }
  }

  .header__middle {
    width: 100%;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    align-items: center;

    .indicator__container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: var(--indicator-border);
      z-index: 2;
      overflow: hidden;

      .indicator {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: var(--main-color);
        box-shadow: 4px -3px 10px 2px var(--dark-shadow);
        z-index: 3;
      }
    }

    .title__container {
      width: 100%;
      height: 120%;
      display: flex;
      justify-content: start;
      align-items: start;
      padding-left: 10%;

      h1 {
        font-size: 50px;
        font-weight: 700;
      }
    }

    .button__container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      button {
        width: 80%;
        height: 40%;
        border-radius: 20px;
        background-color: var(--main-color);
        box-shadow: 4px -3px 10px 2px var(--dark-shadow);
        z-index: 2;
        display: flex;
        justify-content: end;

        img {
          width: 60px;
          height: auto;
        }
      }
    }
  }
}
